:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #210e6b;
  --color-body: #b2afbf;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* make 1rem = 10px */
  font-size: 62.5%;
}
