<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h3 class="callout__title">Ready To Get Started?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam
        eligendi, blanditiis quia dolore cum est non facere veritatis? Possimus,
        dolores. Maxime aperiam aliquid sint, veritatis nisi exercitationem
        architecto voluptate!
      </p>
    </div>

    <a class="button button--secondary button--stretched" href="#">Get Start</a>
  </div>
</div>
