<div class="collapsiable">
  <header class="collapsiable__header">
    <h2 class="collapsiable__heading">Item</h2>
    <svg class="icon icon--white collapsiable__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsiable__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti velit
    porro repudiandae laborum, a totam, illum, excepturi quisquam autem
    quibusdam pariatur consectetur reprehenderit quas cumque eveniet adipisci
    earum nam libero.
  </div>
</div>
<div class="collapsiable">
  <header class="collapsiable__header">
    <h2 class="collapsiable__heading">Item</h2>
    <svg class="icon icon--white collapsiable__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsiable__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti velit
    porro repudiandae laborum, a totam, illum, excepturi quisquam autem
    quibusdam pariatur consectetur reprehenderit quas cumque eveniet adipisci
    earum nam libero.
  </div>
</div>
<div class="collapsiable">
  <header class="collapsiable__header">
    <h2 class="collapsiable__heading">Item</h2>
    <svg class="icon icon--white collapsiable__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsiable__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti velit
    porro repudiandae laborum, a totam, illum, excepturi quisquam autem
    quibusdam pariatur consectetur reprehenderit quas cumque eveniet adipisci
    earum nam libero.
  </div>
</div>
