<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at &dollar;9 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi et saepe ab
      ratione rem quidem.Lorem ipsum dolor sit amet.
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter Domain Name Here..."
    /><button class="button button--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>.com &dollar;9</li>
    <li><span class="badge badge--secondary">.sg &dollar;7.91</span></li>
    <li>.space &dollar;12</li>
    <li>.info &dollar;14</li>
    <li>.net &dollar;16</li>
    <li>.xyz &dollar;10</li>
  </ul>
</section>
